.loginContainer {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(30,144,255,0.7), rgba(30,144,255,0.7)), url("../images/bg-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageComponent.login {
    height: 76vh;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.25), 0 4px 9px rgba(0, 0, 0, 0.22);
}

.innerContainer.login {
    width: 90%;
    max-width: 500px;
}

.loginContainer h1 {
    max-width: 80%;
}

.inputDiv.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputDiv.login div {
    display: flex;
    flex-direction: column;
    width: 80%
}

.login label {
    font-size: 1rem;
    color: rgb(2,78,151);
}

.login input {
    border: 2px solid rgb(2,78,151);
    font-size: 1.5rem;
    color: rgb(2,78,151);
    margin-bottom: 10px;
}

.toggleButton.login {
    border: 2px solid rgb(2,78,151);
    border-radius: 4px;
    background-color: white;
    color: rgb(2,78,151);
    font-size: 1rem;
    margin-left: 15px;
}

.errorSpan.login {
    color: maroon;
}

.errorSpan.success.login {
    color: green;
}