.recommendation-div {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(30,144,255,0.7), rgba(30,144,255,0.7)), url("../images/brad-neathery-HgeEtjTkipw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageComponent {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.25), 0 4px 9px rgba(0, 0, 0, 0.22);
}

.pageComponent.maps {
    align-items: flex-start;
}

.scoreDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    font-size: 38vw;
}

.recommendationText {
    width: 72%;
    text-align: justify;
    font-size: 0.9em;
}

.submitButton {
    background-color: rgb(28,108,185);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.25), 0 4px 9px rgba(0, 0, 0, 0.22);
    font-size: 1.2em;
    font-weight: bold;
}

.submitButton:active {
    background-color: white;
    color: black;
}

.mapAndHospitalsDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.mapDiv {
    border: 4px solid rgb(28,108,185);
    height: calc(66vw);
    max-height: calc(90vh + 10px);
    width: calc(66vw + 8px);
    flex: 2;
}

.outerHospitalsContainer {
    height: 66vw;
    max-height: calc(90vh + 10px);
}

.hospitalsContainer {
    height: 100%;
    /* max-height: calc(90vh + 10px); */
    overflow-y: scroll;
    border: 4px solid rgb(28,108,185);
    flex: 1;
}



.hospitalDiv {
    width: 100%;
    padding: 5px;
    height: 18vh;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(28,108,185);
    background: linear-gradient(white, rgba(28, 109, 185, 0.356));
    display: flex;
    flex-direction: column;
    text-align: left;
}

.hospitalDiv.active {
    background: none;
    background-color: rgb(28,108,185);
    color: white;
}

.infoDiv {
    width: calc(100% - 10px);
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hospitalName {
    font-weight: bold;
    font-size: 1em;
}

.hospitalAddress {
    width: 100%;
    margin-top: 3px;
    font-size: 0.8em;
}

.attributesDiv {
    margin: 5px;
    margin-top: auto;
    width: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.travelInfoDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.travelInfoDiv span {
    font-size: 0.8em;
}

.certificationsDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.certificationsDiv span {
    font-size: 0.6em;
}

.attribute {
    color: white;
    padding: 2px;
    border-radius: 4px;
}

.CSC {
    background-color: #eb3b5a;
}

.EVMT {
    background-color: #3867d6;
}

.PSC {
    background-color: #fa8231;
}

.TPA {
    background-color: #8854d0;
}


.loadingElement {height: 100%;}
.mapElement {height: 100%;}
.containerElement {height: 66vw;  max-height: calc(90vh + 10px); width: 100%;}