.recommendation-div {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(30,144,255,0.7), rgba(30,144,255,0.7)), url("../images/brad-neathery-HgeEtjTkipw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageComponent {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.recommendation-div .pageComponent {
    height: 76vh;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.25), 0 4px 9px rgba(0, 0, 0, 0.22);
}

.pageComponent.maps {
    align-items: flex-start;
    height: 100vh;
}

.scoreDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    font-size: 38vw;
}

.recommendationText {
    width: 72%;
    text-align: justify;
    font-size: 0.9em;
}

.submitButton {
    background-color: rgb(28,108,185);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.25), 0 4px 9px rgba(0, 0, 0, 0.22);
    font-size: 1.2em;
    font-weight: bold;
}

.submitButton:active {
    background-color: white;
    color: rgb(28,108,185);
}

.recommendation-header {
    height: 2vh;
    width: 100%;
    background-color: rgba(28,108,185);
    border: 6px solid rgba(28,108,185);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recommendation-header button {
    color: white;
    font-weight: bold;
}

.mapAndHospitalsDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mapDiv {
    flex: 2;
}
.mapDiv .containerElement {
    height: calc(100vw/1.5);
    width: 100vw;
    border-bottom: 4px solid rgb(28,108,185);
}
.mapElement {
    height: calc(100vw/1.5) !important;
    width: calc(100vw);
}

.mapElement [title="Show street map"] {
    height: 25px !important;
    font-size: 14px !important;
}

.mapElement [title="Show satellite imagery"] {
    height: 25px !important;
    font-size: 14px !important;
}

.mapElement [title="Toggle fullscreen view"] {
    width: 30px !important;
    height: 30px !important;
    right: 5px !important;
}

.mapElement [title="Drag Pegman onto the map to open Street View"] {
    width: 30px !important;
    height: 30px !important;
    left: 5px !important;
}

.mapElement [title="Drag Pegman onto the map to open Street View"] img {
    width: 24px !important;
    height: 24px !important;
}

.mapElement .gmnoprint:first-child {
    left: 5px !important;
    top: 90px !important;
}

.mapElement .gmnoprint:first-child > div {
    width: 30px !important;
    height: 60px !important;
}

.mapElement [title="Zoom in"] {
    width: 30px !important;
    height: 30px !important;
}

.mapElement [title="Zoom in"] img {
    width: 12px !important;
    height: 12px !important;
}

.mapElement [title="Zoom out"] {
    width: 30px !important;
    height: 30px !important;
}

.mapElement [title="Zoom out"] img {
    width: 12px !important;
    height: 12px !important;
}


.outerHospitalsContainer {
    height: auto;
    overflow: hidden;
}

.hospitalsContainer {
    height: 100%;
    flex: 1;
}



.hospitalDiv {
    width: calc(100% - 10px);
    padding: 5px;
    height: 17vh;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(28,108,185);
    background: linear-gradient(white, rgba(28, 109, 185, 0.356));
    display: flex;
    flex-direction: column;
    text-align: left;
}

.hospitalDiv.active {
    width: calc(100% - 8px);
    position: relative;
    z-index: 5;
    background: none;
    background-color: rgb(28,108,185);
    box-shadow: black 0 5px 40px 1px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.hospitalDiv.active .infoContainer {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hospitalDiv.active .submitButton {
    padding: 0;
    width: 15vw;
    height: 15vw;
    margin: 15px;
    border: 2px solid white;
    margin-left: auto;
    margin-right: 7.5%;
}


.infoDiv {
    width: calc(100% - 10px);
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hospitalName {
    width: 100%;
    font-weight: bold;
    font-size: 1em;
}

.hospitalAddress {
    width: 100%;
    margin-top: 3px;
    font-size: 0.8em;
}

.attributesDiv {
    margin: 5px;
    margin-top: auto;
    width: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.travelInfoDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.travelInfoDiv span {
    font-size: 0.8em;
}

.certificationsDiv {
    /* margin-right: 5px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.certificationsDiv span {
    font-size: 0.6em;
}

.attribute {
    color: white;
    padding: 2px;
    border-radius: 4px;
}

.CSC {
    background-color: #eb3b5a;
}

.EVMT {
    background-color: #3867d6;
}

.PSC {
    background-color: #fa8231;
}

.TPA {
    background-color: #8854d0;
}


.loadingElement {height: 100%;}
.mapElement {height: 100%;}
.containerElement {height: 66vw;  max-height: calc(90vh + 10px); width: 100%;}