body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

button {
    outline: none;
}

.assessment {
    height: 100vh;
    width: 100vw;
}

.assessment-header {
    height: 8vh;
    background-color: white;
    border: 6px solid rgba(28,108,185);
}

.assessment-header h4 {
    margin: 0;
    margin-top: 7px;
    margin-left: 5%;
    display: inline-block;
}

.progress-border {
    height: 15px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid black;
    border-radius: 3px;
}

.progress-fill {
    background-color: rgba(28,108,185);
    height: 100%;
    width: var(--percentComplete);
    /* border-radius: 3px; */
}

.assessment-container {
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, rgba(30,144,255,0.7), rgba(30,144,255,0.7)), url("../images/bg-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.question-container {
    margin-top: 10vh;
    margin-left: 8%;
    margin-right: 8%;
    padding: 18px 24px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.25), 0 4px 9px rgba(0, 0, 0, 0.22)
}

.question-text {
    font-size: 2em;
    font-weight: bold;
}

.info-icon-span {
    margin-left: 10px;
    vertical-align: middle;
}

.info-text {
    margin-top: 10px;
}

.fa-info-circle {
    float: right;
}

.answer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 5vh;
}

.answer-container button {
    background-color: white;
    color: black;
    font-weight: bold;
    width: 84%;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.25), 0 4px 9px rgba(0, 0, 0, 0.22);
    padding: 10px 20px;
    font-size: 1.2em;
}

.answer-container button:active {
    background-color: rgba(28,108,185);
    color: white;
}

#disabled-button {
    background-color: lightgrey;
    color: darkgrey;
}

.answer-container input {
    background-color: white;
    color: black;
    font-weight: bold;
    width: 74%;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.25), 0 4px 9px rgba(0, 0, 0, 0.22);
    padding: 10px 20px;
    font-size: 1.2em;
}